<div class="center">
  <div class="container">
    <%= form_for(@uru) do |f| %>
      <%= f.number_field :year, placeholder: "year", class: 'form-year' %>
      <%= f.submit "check", class: "btn check" %>
    <% end %>
  </div>
</div>
