<!DOCTYPE html>
<html>
  <head>
    <title>uru</title>

    <%#= favicon_link_tag('favicon.ico') %>
    <%= render 'layouts/rails_default' %>
    <%#= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="center">
      <h1 class="h1-logo">uru app</h1>
      <h2>閏年判定アプリ</h2>
    </div>
    <%= yield %>
    <%#= render 'layouts/footer' %>

  </body>
</html>
