<!DOCTYPE html>
<html>
  <head>
    <title>uru</title>

    <%#= favicon_link_tag('favicon.ico') %>
    <%= render 'layouts/rails_default' %>
    <%#= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
